# A source is where data comes from (input) and sink where data ends
# (output)

read, 2, clam-prov-type:input
read, 2, clam-prov-size:3

readv, 2, clam-prov-type:input
readv, 2, clam-prov-size:3

pread, 2, clam-prov-type:input
pread, 2, clam-prov-size:3

preadv, 2, clam-prov-type:input
preadv, 2, clam-prov-size:3

# Skipped because the size is not one of the arguments
#recvmsg, 2, clam-prov-type:input
#recvmsg, 2, clam-prov-size:?

recvfrom, 2, clam-prov-type:input
recvfrom, 2, clam-prov-size:3

mmap, 1, clam-prov-type:input
mmap, 1, clam-prov-size:2

write, 2, clam-prov-type:output
write, 2, clam-prov-size:3

writev, 2, clam-prov-type:output
writev, 2, clam-prov-size:3

pwrite, 2, clam-prov-type:output
pwrite, 2, clam-prov-size:3

pwritev, 2, clam-prov-type:output
pwritev, 2, clam-prov-size:3

# Skipped because the size is not one of the arguments
#sendmsg, 2, clam-prov-type:output
#sendmsg, 2, clam-prov-size:?

sendto, 2, clam-prov-type:output
sendto, 2, clam-prov-size:3

# TODO. vmsplice is conditionally either 'input' or 'output'.
# https://man7.org/linux/man-pages/man2/vmsplice.2.html
# vmsplice
